<div class="container my-5">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <div *ngFor="let car of cars" class="my-3">
      <div class="card my-card">
        <img src="{{ car.img }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ car.mark }} {{ car.model }}</h5>
          <p class="card-text my-1">Condition: {{ car.condition }}</p>
          <p class="card-text my-1">Color: {{ car.color }}</p>
          <p class="card-text my-1">Mileage: {{ car.mileage }}</p>
          <p class="card-text my-1">Year of production: {{ car.year }}</p>
          <a
            href="#{{ car.model }}"
            data-bs-toggle="collapse"
            class="btn btn-light mt-2 my-btn"
            >See more</a
          >
          <div class="collapse" id="{{ car.model }}">
            <div class="mt-2 func2">
              <p class="card-text my-1">
                Number of seats: {{ car.seatsNumber }}
              </p>
              <p class="card-text my-1">Fuel type: {{ car.fuelType }}</p>
              <p class="card-text my-1">
                Fuel consumption: {{ car.consumption }}
              </p>
              <h5 class="mt-2">Price: {{ car.price }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
